DS Lab Assignment-7 Code/CalculatorWebServiceClient/web/WEB-INF/wsdl/localhost_8080/Assignment-7/MyCalculatorWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://myservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://myservice.com/" name="MyCalculatorWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://myservice.com/" schemaLocation="http://localhost:8080/Assignment-7/MyCalculatorWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<message name="multiplication">
<part name="parameters" element="tns:multiplication"/>
</message>
<message name="multiplicationResponse">
<part name="parameters" element="tns:multiplicationResponse"/>
</message>
<message name="addition">
<part name="parameters" element="tns:addition"/>
</message>
<message name="additionResponse">
<part name="parameters" element="tns:additionResponse"/>
</message>
<message name="subtraction">
<part name="parameters" element="tns:subtraction"/>
</message>
<message name="subtractionResponse">
<part name="parameters" element="tns:subtractionResponse"/>
</message>
<portType name="MyCalculatorWebService">
<operation name="division">
<input wsam:Action="http://myservice.com/MyCalculatorWebService/divisionRequest" message="tns:division"/>
<output wsam:Action="http://myservice.com/MyCalculatorWebService/divisionResponse" message="tns:divisionResponse"/>
</operation>
<operation name="multiplication">
<input wsam:Action="http://myservice.com/MyCalculatorWebService/multiplicationRequest" message="tns:multiplication"/>
<output wsam:Action="http://myservice.com/MyCalculatorWebService/multiplicationResponse" message="tns:multiplicationResponse"/>
</operation>
<operation name="addition">
<input wsam:Action="http://myservice.com/MyCalculatorWebService/additionRequest" message="tns:addition"/>
<output wsam:Action="http://myservice.com/MyCalculatorWebService/additionResponse" message="tns:additionResponse"/>
</operation>
<operation name="subtraction">
<input wsam:Action="http://myservice.com/MyCalculatorWebService/subtractionRequest" message="tns:subtraction"/>
<output wsam:Action="http://myservice.com/MyCalculatorWebService/subtractionResponse" message="tns:subtractionResponse"/>
</operation>
</portType>
<binding name="MyCalculatorWebServicePortBinding" type="tns:MyCalculatorWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyCalculatorWebService">
<port name="MyCalculatorWebServicePort" binding="tns:MyCalculatorWebServicePortBinding">
<soap:address location="http://localhost:8080/Assignment-7/MyCalculatorWebService"/>
</port>
</service>
</definitions>